#banner {
	background: #A8E6FF ;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid;
	font: small-caps 40px/40px "Times New Roman", serif;
	color: #006 ;
	text-align: center;
}

#banner img {
	float: left;
}

#columns {
	background: white ;
}

#main {
	padding-top: 2ex;
	padding-left: 2em;
	background: white;
}

#side {
	float: left;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	width: 12em;
	background: white ;
}

ul.nav {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

ul.nav a {
	color: #006 ;
	font-size: small;
	width: 8em;
	border: 1px dashed #000;
	padding: 5px 15px 5px 15px;
	background-color: #A8E6FF;
	text-decoration: none;
}

ul.nav li {
	display: inline;
}

* html ul.nav a {height: 1px;}